.flyboy
.idea
.vscode
.fleet
.pytest_cache
.benchmarks
audio_dumps/**
test_audio/**
prompt_bodies_audio/**
body_transcriptions/**
conversations/**
response_log/**
api_keys/**
gen_logs/*/*
*.wav
__pycache__
*.pyc
nothing.py
pytorch_model.bin
pyrightconfig.json
agents/**
