DisplayMessage { 
    grid-size: 2 1; 
    grid-columns: auto 10%;
    layout: grid;
    box-sizing: content-box;
    border: solid;
    text-align: left;
    }

TextInput {
  offset: 0 -1;
}

#text_input {
  dock: bottom;
}

#file_input {
  dock: bottom;
}

#icons {
  padding: 0;
}

#welcome {
    padding: 0 4 1 4;
}

#assistant_messages {
    padding: 1 1;
}
#user_messages {
    padding: 1 1;
}
